/* CSS for Home Page */
@font-face{
    font-family: Montauk;
    src: url(/Fonts/Montauk-Regular.otf);
}


body{
    background: url(../assets/bgtexture.jpg);
}

.unavbar{
    word-spacing: 2em;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

.unavbartext{
    padding-top: 20px;
    padding-right: 60px;
}

.unavtextcolor{
    font-family: 'Fugaz One', cursive;
    color:#5F002B;
    text-decoration: none;
}

.uheroimg1{
    width: 100%;
    height: 50%;
    padding-bottom: 35%;
    background-image: url("../assets/homeHero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.muzzles{
    padding-left: 100px;
}

/* <<<<<<< HEAD */
.picture1{
   padding-left: 30%; 
   
}

.kh1{
    margin-left: -10%;
    font-family: 'Fugaz One';
    color:#5F002B;
    background-color: white;
}

.whitebackground1{
   margin-left: 80%;
}

.kparagraph{
    width: 110%;
    margin-left:-10%;
    font-size: 16px;
    font-family: 'Montauk';
    color:#5F002B;
}

.whitebackground2{
    margin-left: 7%;
    margin-top: 4%;
   
}

.kh2{
    text-align: center;
    margin-top: -3%;
    margin-left: 4%;
    font-family: 'Fugaz One';
    color:#5F002B;
    background-color: white;
}

.movecard{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    padding-left: 7.4%;
}

.kheading{
    margin-left: 5%;
    font-family: 'Fugaz One';
    color:#5F002B;
}

.card-text{
    color:#5F002B;
    font-size: 14px;
    font-family: 'Montauk'; 
}

.kparagraph2{
    margin-left: 10%;
    margin-top: 5%;
    color:#5F002B;
    font-size: 13px;
    font-family: 'Montauk'; 
}

.kmove{
    margin-top: -2.1%;
    margin-left: 88%;
}

.kcompanylogo{
    margin-top: -4%;
    margin-left:94%;
}

.whitebackground3{
    margin-left: 5.34%;
    margin-top: 1%;

}

.kphoto1{
    border: 10px solid white;
    margin-left: 20%;
    margin-top: 1%;
}

.kphoto2{
    border: 10px solid white; 
    margin-left: 10%;
    margin-top: 1%;
}

.kphoto3{
    border: 10px solid white; 
    margin-left:1%;
    margin-top: 1%;
}

.kphoto4{
    border: 10px solid white; 
    margin-left: -8%;
    margin-top: 1%;
}










